:root{
    --title:#0F75BD;
    --bgButton:#23AAE2;
    --font:#3D3D3F;}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;}
  
html{
    font-size: 62.5%;
    font-family: "Tinos", serif;}

body{
    width:383px;
    height: 125vh;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;}

.head--section{
    width:252px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;}       

.head--title{
    display: flex;
    flex-direction: column;
    padding:5%;} 

.head--title img{
    width:222px;
    height: auto;}

header{
    width: 393px;
    height:71px ;
    background-color: var(--title);} 

.header--nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 5%; }
  
.cards--section{
    width:208px;
    height: 413px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
   
    
.cards--single{
    width:205px;
    height:118px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--bgButton);
    border-radius: 10px;
    margin-top: 10%;}

/* .cards--single-imgp{
    padding-top:31px;
}     */
 .cards--single-imgp a{
    text-decoration: none;
 }
  
.cards--single-imgp img{
    width: 30px;
    max-width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;}
    

.cards--single-imgp p{
    width:205px;
    height: 118px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-align: center;}
    
footer{
    width:469px;
    height: 60px;}

footer p{
    width:100%;
    margin:0 auto;
    font: 1.2rem;
    padding-left: 15%;
    padding-top: 20%;}    

@media (min-width:1279px){
    body{
        width: 100%;
        height: 100vh}

    header{
        width: 100%;
        display: flex;
        justify-content: end;} 
        

    .navbar-collapse{
        display: flex;
        justify-content: end; } 
        

    .nav-item img{
        width: 30px;
        height: 30px; } 

      
                        
    .head--section{
        width:100%;
        height: auto;
        margin-top:3%}       
     
        
    .head--title img{
        width:252px;
        padding-top: 3%;}
        
     
    .cards--section{
        width:851px;
        height: 231px;
        display: flex;
        flex-direction: row;
        margin: 0 auto; }
             
    .cards--single{
        width:205px;
        height:231px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        padding-top:0;}
        
    .cards--single-imgp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 0;} 
           
          
    .cards--single-imgp img{
        width: 80px;
        height: 80px;}
            
            
        
    .cards--single-imgp p{
        width:178px;
        height: 27px;
        font-size: 2rem;}        




    footer{width:100%;}
            
        
    footer p{
        padding-top: 16%;
        width:100%;
        display: flex;
        margin:0 auto;
        font: 1.4rem;
        text-align: center;}    

}   
      